{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="h3 mb-2 text-gray-800">Add Product</h1>

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Title{{ form_errors(form.title) }}</label>
                    <input type="text" name="product[title]" class="form-control" id="productName"
                           placeholder="Title..." value="{{ form.vars.value.title }}">
                </div>
                <div class="form-group">
                    <label>ISBN{{ form_errors(form.isbn) }}</label>
                    <input type="text" name="product[isbn]" class="form-control" id="productISBN"
                           placeholder="ISBN..." value="{{ form.vars.value.isbn }}">
                </div>

                <div class="form-group">
                    <label>Image File{{ form_errors(form.image) }}</label>
                    <input type="file" name="product[image]" class="form-control-file" id="productImage"
                           placeholder="Image File...">
                </div>

                <div class="form-group">
                    <label>Price{{ form_errors(form.price) }}</label>
                    <input type="number" name="product[price]" class="form-control" id="productPrice"
                           placeholder="Price..." step="any" value="{{ form.vars.value.price }}">
                </div>

                <div class="form-group d-none">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" name="product[active]" value="1" class="custom-control-input" id="customCheck" checked>
                        <label class="custom-control-label" for="customCheck">Active</label>
                    </div>
                </div>
                {{ form_row(form._token) }}
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Add Product" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <a href="{{ path('products_list') }}" class="d-sm-inline-block btn btn-sm btn-dark shadow-sm">Back <i class="fas fa-arrow-alt-circle-right fa-sm text-white-50"></i></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

