{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <!-- Stocks DataTable -->
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="h4 mb-0 text-gray-800">Stocks</h6>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm abs-right-2 no-print" onclick="window.print(); return false;">
                <i class="fas fa-print fa-sm text-white-50"></i> Print Stocks
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Entries</th>
                        <th>Orders</th>
                        <th>In Stock</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Product</th>
                        <th>Entries</th>
                        <th>Orders</th>
                        <th>In Stock</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.entries }}</td>
                            <td>{{ product.orders }}</td>
                            <td>{{ product.stocks }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Page level plugins -->
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}