{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    <!-- Clients DataTable -->
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="h4 mb-0 text-gray-800">Clients</h6>
            <div class="abs-right-2 no-print">
                <a href="{{ path('clients_add') }}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-arrow-alt-circle-left fa-sm text-white-50"></i> Add Company
                </a>
                <a href="{{ path('private_person_add') }}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-arrow-alt-circle-left fa-sm text-white-50"></i> Add Private Client
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Discount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th class="no-print">Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Discount</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th class="no-print">Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.discount }}%</td>
                        <td>{{ client.type }}</td>
                        <td>{{ client.status }}</td>
                        <td class="no-print">
                            <a href="{{ path('clients_view', {id: client.id}) }}" class="btn btn-sm btn-info">View</a>
                            <a href="{{ path(client.editPath, {id: client.id}) }}" class="btn btn-sm btn-success">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Page level plugins -->
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}