{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
    {#    <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
    {#        <h1 class="h3 mb-0 text-gray-800">Client id: {{ client.id }}</h1>#}
    {#    </div>#}

    <div class="row">
        <!-- Client Data -->
        <div class="card shadow mb-4 col-lg-6 col-md-6 p-0">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ client.type }} Client</h6>
                <a href="{{ path('clients_list') }}" class="abs-right-1"><i class="fas fa-times-circle fa-lg text-dark p-0"></i></a>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ client.address }}</td>
                    </tr>
                    {% if not client.privatePerson %}
                    <tr>
                        <th>Responsible Person</th>
                        <td>{{ client.responsiblePerson }}</td>
                    </tr>
                    <tr>
                        <th>Unique Identifier</th>
                        <td>{{ client.uniqueIdentifier }}</td>
                    </tr>
                    <tr>
                        <th>VAT Number</th>
                        <td>{{ client.vatNumber }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Discount</th>
                        <td>{{ client.discount }}%</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ client.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card shadow mb-4 col-lg-6 col-md-6 p-0">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
            </div>
            <div class="card-body p-0">
                {% if stocks|count > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Title</th>
                            <th class="border-bottom-0">In stock</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for stock in stocks %}
                        <tr>
                            <td>{{ stock['title'] }}</td>
                            <td>{{ stock['stock'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h5 class="h5 h-middle text-gray-400">No stocks in client.</h5>
                {% endif %}
            </div>
        </div>

        <div class="col p-0">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">History</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Activity</th>
                                <th>Products</th>
                                <th>Date Added</th>
                                <th class="no-print">Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Activity</th>
                                <th>Products</th>
                                <th>Date Added</th>
                                <th class="no-print">Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for object in client.history %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.activityType }}</td>
                                    <td>{{ object.productsCount }}</td>
                                    <td>{{ object.dateAdded|date('Y-m-d H:i:s') }}</td>
                                    <td class="no-print">
                                        <a href="#" class="btn btn-sm btn-primary" data-target="#historyModal" data-target-id="{{ object.id }}" data-type="{{ object.activityType }}">Quick View</a>
                                        <a href="{{ path(object.activityType|lower~'s_view', {id: object.id}) }}" class="btn btn-sm btn-info" target="_blank">Open Page</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table modal-table hide-table">
                        <thead class="modal-thead"></thead>
                        <tbody class="modal-tbody"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
<!-- Page level plugins -->
<script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<!-- Page level custom scripts -->
<script src="{{ asset('js/history-modal.js/') }}"></script>
<script>
    $('#dataTable').DataTable({
        "order": [[ 3, "desc" ]]
    });
</script>
{% endblock %}

