{% extends 'base.html.twig' %}

{% block main %}
    {#    <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
    {#        <h1 class="h3 mb-0 text-gray-800">Client id: {{ client.id }}</h1>#}
    {#    </div>#}

    <div class="row">
        <!-- Client Data -->
        <div class="card shadow mb-4 col-lg-6 col-md-6 p-0">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ client.type }} Client</h6>
                <a href="{{ path('clients_list') }}" class="abs-right-1"><i class="fas fa-times-circle fa-lg text-dark p-0"></i></a>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ client.address }}</td>
                    </tr>
                    {% if not client.privatePerson %}
                    <tr>
                        <th>Responsible Person</th>
                        <td>{{ client.responsiblePerson }}</td>
                    </tr>
                    <tr>
                        <th>Unique Identifier</th>
                        <td>{{ client.uniqueIdentifier }}</td>
                    </tr>
                    <tr>
                        <th>VAT Number</th>
                        <td>{{ client.vatNumber }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Discount</th>
                        <td>{{ client.discount }}%</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ client.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card shadow mb-4 col-lg-6 col-md-6 p-0">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-primary">Products</h6>
            </div>
            <div class="card-body p-0">
                {% if stocks|count > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-bottom-0">Title</th>
                            <th class="border-bottom-0">In stock</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for stock in stocks %}
                        <tr>
                            <td>{{ stock['title'] }}</td>
                            <td>{{ stock['stock'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h5 class="h5 h-middle text-gray-400">No stocks in client.</h5>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

